<nav class="navbar navbar-default ng-scope" role="navigation">
                <form name="form" class="navbar-form navbar-left ng-dirty ng-valid ng-valid-required" role="form" novalidate="">
                    <label for="city">City</label>
                    <input type="text" id="city" class="form-control" placeholder="Please input city"  auto-city="" required="" autocomplete="off" style="" ng-model="city">
                    <a class="btn btn-primary btn-sm" href="#clima/{{city}}" role="button">Search Weather</a>
                </form>
            </nav>
